.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    /* gap: 20px; */
}

.footer-logo p {
    color: #383838;
    font-size: 40px;
    font-weight: 700;
    padding-top: 17px;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
    font-weight: 500;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    gap: 50px;
}

.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.footer-copyrights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyrights hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}